/*=============== NOTIFICATION STYLES ===============*/
.notification {
    border-right: 1px solid rgb(197, 196, 196);
    border-left: 1px solid rgb(197, 196, 196);
    height: 100vh;
    width: 598px;
    margin-left: 391px;

    .notification__title {
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
        text-align: center;
        margin-top: 20px;
    }
}

.search {
    width: 100%;
    max-width: 350px;
    position: fixed;
    top: 0;
    right: 182px;
    overflow-y: auto;
    min-height: 100%;

    &__container {
        padding: 3px 16px;

        .search__header {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            .search__icon {
                height: 46px;
                width: 44px;
                background-color: #F3F3F3;
                text-align: center;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                border: 2px solid transparent;
                border-right: none;

                .search__icon__dots {
                    margin-top: 9px;
                    margin-left: 10px;
                }
            }

            .search__input {
                width: 100%;
                background-color: #F3F3F3;
                padding: 11px;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                border: 2px solid transparent;
                border-left: none;
                font-size: 15px;
                line-height: 20px;
                font-weight: 400;

                &:focus {
                    outline: none;
                }
            }
        }

        .search__body {
            border: none;

            .current__topics__card {
                background-color: #F3F3F3;
                border-radius: 20px;
                border: 2px solid transparent;
                margin-top: 15px;

                .topics__card__title {
                    font-size: 20px;
                    line-height: 24px;
                    font-weight: 800;
                    padding: 12px 16px;
                }

                .topic__card {
                    padding: 12px 16px;
                    cursor: pointer;
                    transition-duration: 0.2s;

                    .topic__card__text {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .topic__card__subtitle {
                            font-size: 13px;
                            line-height: 16px;
                            color: rgb(113, 118, 123);
                            font-weight: 400;
                        }

                        .topic__card__icon {
                            font-size: 17px;
                            color: rgb(113, 118, 123);
                        }
                    }

                    &:hover {
                        background-color: #e6e6e6;
                    }
                }

                .topic__card__more {
                    color: #1DA1F2;
                    padding: 12px 16px;
                    font-size: 15px;
                    line-height: 20px;
                    font-weight: 400;
                    cursor: pointer;
                    border-bottom-left-radius: 20px;
                    border-bottom-right-radius: 20px;
                    transition-duration: 0.2s;

                    &:hover {
                        background-color: #e6e6e6;
                    }
                }
            }
        }

        .read__container {
            width: 330px;
            margin-top: 15px;

            .read__card {
                padding: 12px 16px 0 16px;
                margin-bottom: 16px;
                border-radius: 16px;
                margin-right: 10px;
                background-color: #f3f3f3;
    
                .read__card__title {
                    font-size: 20px;
                    line-height: 24px;
                    font-weight: 800;
                    padding-bottom: 12px;
                }
    
                .read__card__body {
                    .read__card__user {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        cursor: pointer;
                        padding: 12px 0;
    
                        .read__card__img {
                            border-radius: 50%;
                        }
    
                        .card__user__text {
                            margin: 0 6px;
    
                            .card__user__title {
                                font-size: 15px;
                                line-height: 20px;
                                font-weight: 700;
    
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
    
                            .card__user__nickname {
                                color: rgb(113, 118, 123);
                                font-weight: 400;
                                font-size: 15px;
                                line-height: 20px;
                            }
                        }
    
                        .read__card__button {
                            background-color: #1DA1F2;
                            color: white;
                            margin: 1px;
                            border: none;
                            font-size: 15px;
                            line-height: 20px;
                            padding: 5px 16px;
                            border-radius: 20px;
                            cursor: pointer;
                        }
                    }
                }
    
                .read__card__footer {
                    padding: 12px 0;
                    cursor: pointer;
    
                    .read__card__footer__text {
                        font-size: 15px;
                        line-height: 20px;
                        font-weight: 400;
                        color: #1DA1F2;
                    }
                }
            }
    
            .documentation {
                margin-bottom: 16px;
                margin: 0 16px;
    
                .documentation__twitter {
                    margin: 2px 0;
                    padding-right: 12px;
                    font-size: 13px;
                    line-height: 16px;
                    color: rgb(113, 118, 123);
                    cursor: pointer;
                    font-weight: 400;
    
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}